.Container{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  /* align-items: center; */
}

.Profile_img{
  width: 20%;
}

.Dflex{
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-between;
  /* align-content: space-between; */
}

.Twitter{
  margin: 0;
}

.Wit{
  width:10%;
  margin: 5px auto;
}

.Slack{
  display: none;
}

.Font-13{
  font-size: 13px;
}

.Font-18{
  font-size: 18px;
}

a{
  text-decoration: none;
  color: black;
  /* background-color: #61dafb; */
}

.Clr-red{
  color: red;
  /* font-size: 10px; */
}

.Mrg{
  margin: 10px 0;
  background-color: rgba(234, 236, 240, 1);
  border: 1px solid rgba(234, 236, 240, 1)61dafb;
  border-radius: 5px;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
